<nav class="navbar navbar-expand-sm ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">Películas</a>
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>

        <div class="d-flex">
          <input
              #txtBuscar
              (keyup.enter)="bucarPelicula( txtBuscar.value )" 
              class="form-control me-2" 
              type="search" 
              placeholder="Buscar película" 
              aria-label="Search"
              >
          <button
              (click)="bucarPelicula( txtBuscar.value )" 
              class="btn btn-outline-success">Buscar</button>
        </div>

      </div>
    </div>
  </nav>